.she_footer_main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.she_footer_block {
  width: 28%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.she_footer_useful {
  width: 15%;
}

.she_footer_useful h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

.she_footer_useful ul {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.she_footer_useful ul li {
  list-style: none !important;
  margin: 0px;
  padding: 0px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #cfcfcf;
  font-family: "Roboto", sans-serif;
}

.she_footer_other {
  width: 15%;
}

.she_footer_other h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

.she_footer_other ul {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.she_footer_other ul li {
  list-style: none !important;
  margin: 0px;
  padding: 0px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #cfcfcf;
  font-family: "Roboto", sans-serif;
}


.she_footer_block img {
  width: 70%;
}

.she_footer_block h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

.she_footer_block p {
  font-size: 14px;
  color: #cfcfcf;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  margin-top: 5px;
}

.she_footer_block ul {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.she_footer_block ul li {
  list-style: none !important;
  margin: 0px;
  padding: 0px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #cfcfcf;
  font-family: "Roboto", sans-serif;
}

.social_media {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}

.social_media span {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 100px;
  cursor: pointer;
  font-size: 18px;
}

.she_copy_write {
  width: 100%;
  padding: 15px 0px;
  border-top: 0.5px solid rgba(238, 238, 238, 0.341);
  border-bottom: 0.5px solid rgba(238, 238, 238, 0.341);
}

.she_copy_write p {
  text-align: center;
  font-size: 14px;
  color: #cfcfcf;
  font-family: "Roboto", sans-serif;
}

.she_address_main {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.she_col_1 {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.she_icon {
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.241);
  margin-right: 20px;
  color: var(--primary-color);
}

.she_addcon h6 {
  font-size: 14px !important;
  color: var(--text-color);
}

.she_addcon p {
  font-size: 14px;
}


@media only screen and (min-device-width: 300px) and (max-device-width: 576px) {
  .she_footer_main {
    width: 100%;
    flex-direction: column;
  }

  .she_footer_block {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .she_footer_block p {
    text-align: center;
  }

  .she_footer_useful {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .she_footer_other {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .she_copy_write {
    width: 100%;
  }

  .she_copy_write p {
    font-size: 12px;
  }
}

@media only screen and (min-device-width: 577px) and (max-device-width: 800px) {
  .she_footer_main {
    width: 100%;
    flex-direction: column;
  }

  .she_footer_block {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .she_footer_block p {
    text-align: center;
  }

  .she_footer_useful {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .she_footer_other {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .she_copy_write {
    width: 100%;
  }

  .she_copy_write p {
    font-size: 12px;
  }

  .social_media {
    width: 25%;
  }
}

@media only screen and (min-device-width: 801px) and (max-device-width: 1000px) {
  .she_footer_main {
    width: 100%;
    flex-direction: column;
  }

  .she_footer_block {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .she_footer_block p {
    text-align: center;
  }

  .she_footer_useful {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .she_footer_other {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .she_copy_write {
    width: 100%;
  }

  .she_copy_write p {
    font-size: 12px;
  }

  .social_media {
    width: 25%;
  }
}

@media only screen and (min-device-width: 1001px) and (max-device-width: 1200px) {}

@media only screen and (min-device-width: 1201px) and (max-device-width: 1500px) {}