/* Doctor List */

.she_sub_heading {
  text-align: center;
  font-size: 36px !important;
  color: #fff;
}

.she_home_horizental_line {
  background-color: #fff;
  width: 150px;
  height: 5px;
  border: none;
  margin: auto;
  margin-top: 5px;
}

.she_doctor_list {
  width: 100%;
  display: block;
}

.she_doctor_main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.she_doctor_list_img {
  width: 12%;
  height: 100%;
  border-radius: 100%;
  border: 5px solid #fff;
  border-radius: 100%;
  overflow: hidden;
}

.she_doctor_list_img img {
  width: 100%;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.she_doctor_list_img img:hover {
  transform: scale(1.3);
}

.she_slider {
  display: block;
}

.she_slider2 {
  display: none !important;
}

/* Doctor List */

/* Services Catagery */
.she_sub_heading2 {
  text-align: center;
  font-size: 36px !important;
  color: var(--primary-color);
}

.she_home_horizental_line2 {
  background-color: var(--primary-color);
  width: 150px;
  height: 5px;
  border: none;
  margin: auto;
  margin-top: 5px;
}

.she_services_main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.she_prodcut1 {
  width: 32%;
  margin-bottom: 22px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  cursor: pointer;
}

.she_prodcut1 img {
  width: 100%;
  height: 100%;
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.she_service_tag {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.she_service_tag h4 {
  font-size: 21px;
  text-align: center;
  margin: 0px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}

/* Services Catagery */

/* Testmonials */
.she_client_slider_main {
  width: 90%;
  margin-top: 50px;
}

.she_client_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.she_testi_text {
  font-size: 14px;
  font-weight: normal;
  margin-top: 20px;
  color: var(--text-color);
}

.she_list_cts {
  width: 49%;
  padding: 25px;
  background-color: #fff;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.she_testimonials_clients {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.she_testi_img {
  width: 20%;
  border-radius: 100%;
  border: 1px solid var(--primary-color);
}

.she_testi_img img {
  width: 100%;
  border-radius: 100%;
}

.she_testi_cont {
  width: 75%;
}

/* Testmonials */

/* Subscribe Tools */
.she_subscribe_tools {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.she_input_field {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.she_subscribe_tools h1 {
  color: #fff;
  width: 56%;
  font-size: 36px;
}

.she_input_field input {
  width: 70%;
  height: 56px;
  border: none;
  outline: none;
  padding: 5px 20px;
}

.she_input_field button {
  width: 30%;
  height: 56px;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--background-color);
}

/* Subscribe Tools */


/* subscribe Tools */



/* about  */
.she_about_banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/innerbanner.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 225px;
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
}

.she_about_titles {
  text-align: center;
  font-size: 28px;
  color: #fff;
}

.she_about_back {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}

.she_about_back li {
  list-style-type: none;
  width: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.she_about_back li a {
  text-decoration: none;
  color: #fff;
  margin: 0px !important;
  text-align: center;
}

.she_about_back li:nth-child(2) {
  border-left: 1px solid #fff;
  color: var(--primary-color);
}

.she_about_sec1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.she_about_box1 {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.she_about_box1 h4 {
  font-size: 21px;
  text-transform: uppercase;
}

.she_about_box1 p {
  text-align: justify;
  margin-top: 20px;
  font-size: 14px;
  color: var(--text-color);
}

.she_about_box2 {
  width: 48%;
  display: flex;
  justify-content: center;
}

.she_about_box2 img {
  width: 100%;
  height: 100%;
}

.she_about_line {
  width: 80px;
  height: 3px;
  border: none;
  background-color: var(--primary-color);
}

.she_about_sec2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.she_about_wdit {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 30px 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #fff;
}

.she_about_wdit img {
  width: 100px;
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 100px;
}

.she_about_wdit h5 {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.she_about_wdit p {
  font-size: 14px;
  text-align: center;
  color: var(--text-color);
}

.she_about_partner {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.she_about_partner img {
  width: 15%;
  background-size: cover;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

/* about */

/* Services Start */
.she_services_banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/subheader-corporate.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 225px;
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
}


.she_services_main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.she_services_card {
  width: 32%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  background-color: #fff;
  margin-bottom: 22px;
}

.she_services_card img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}

.she_footer_card {
  width: 100%;
  padding: 10px 20px;
}

.she_footer_card h4 {
  text-align: center;
  font-size: 21px;
  margin-bottom: 10px;
}


/* Services Start */

/* Home Pages CSS */

.she_home_supplyProduct {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.she_home_supplyProduct a {
  width: 32%;
  text-decoration: none;
  color: #3e3a48;
}

.she_supplay {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #2525253d;
  transition: 0.3s linear;
  background-color: #eeeeee5f;
  /* border-radius: 10px; */
}

.she_supplay:hover {
  border: 1px solid var(--primary-color);
  cursor: pointer;
  transition: 0.5s ease-out;
  opacity: 0.6;
}

.she_supplay img {
  width: 100%;
  /* border-top-right-radius: 10px;
  border-top-left-radius: 10px; */
}

/* .she_supplay h4 {
  font-size: 24px;
  text-align: center;
  margin: 0px;
  padding: 15px 0px;
  text-transform: uppercase;
} */


.she_ftr_suply {
  width: 100%;
  padding: 15px 20px;
  background-color: var(--primary-color);
}

.she_ftr_suply h4 {
  font-size: 24px;
  text-align: center;
  margin: 0px;
  text-transform: uppercase;
  color: #fff;
}


.she_most_main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.she_most_left {
  width: 56%;
  height: 450px;
  display: flex;
  background-color: #3e3a48;
}

.she_most_left img {
  width: 100%;
}

.she_most_right {
  width: 42%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.she_most_top {
  width: 100%;
  height: 215px;
  display: flex;
  margin-bottom: 20px;
}

.she_most_top img {
  width: 100%;
}

.she_most_bottom {
  width: 100%;
  height: 215px;
  display: flex;
}

.she_most_bottom img {
  width: 100%;
}

/* Home Pages CSS */

/* About Section start */

.she_about_banner {
  width: 100%;
  padding: 100px 0px;
}

.she_about_header {
  width: 100%;
  padding: 100px 0px 0px 0px;
}

.she_about_header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.she_about_header ul li {
  list-style: none;
  padding: 0px 20px;
}

.she_about_header ul li:nth-child(1) {
  border-right: 1px solid #ccc;
}



.she_about_header ul li {
  color: #fff;
}

.she_about_header ul .active {
  color: #3e3a48;
}

.she_wwd {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.she_left_wwd {
  width: 48%;
}

.she_left_wwd img {
  width: 100%;
}

.she_right_wwd {
  width: 48%;
}

.she_right_wwd h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.she_right_wwd h4 {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: justify;
}

.she_right_wwd p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
}

.she_right_wwd button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  border: none;
  color: #fff;
  font-size: 16px;
}

.she_wwd_head {
  text-align: center;
  font-size: 36px;
}

.seh_wwd_subheade {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: normal;
  color: #3e3a48;
}

.she_wwd_help {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.she_wwd_card {
  width: 31%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  transition: all .25s cubic-bezier(.645, .045, .355, 1);
  cursor: pointer;
}

.she_wwd_card:hover {
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.she_wwd_card img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.she_card_centents {
  width: 100%;
  padding: 20px;
}

.she_card_centents h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.she_card_centents ul {
  width: 100%;
  padding: 0px 0px 0px 15px;
  margin: 0px;
}

.she_card_centents ul li {
  list-style: disc;
  font-size: 14px;
  color: #3e3a48aa;
  line-height: 1.8;
}

.happy_clients_number {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.she_number_box {
  width: 32%;
}

.she_number_box h1 {
  font-size: 45px;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 600;
}

.she_number_box h4 {
  font-size: 18px;
  text-align: center;
  color: #fff;
  font-weight: normal;
}

.she_clients_card {
  width: 100%;
  background-image: linear-gradient(228deg, #f6fafe 0%, #edeff6 82%);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.she_clients_card h4 {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.she_clients_card h4::after {
  content: '';
  top: 0px;
  width: 34px;
  height: 28px;
  background: url(/images/testimonial-icon.png) no-repeat center;
  background-size: auto;
  background-size: 100% auto;
}

.she_clients_card p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.she_clients_card h6 {
  font-size: 16px;
}

/* About Section start */

/* Blog Section Start */

/* box-shadow: 0 0 10px 0 rgba(148, 146, 245, .2);
margin-bottom: 30px;
overflow: hidden;
text-align: left;
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out; */

.she_blog_main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.she_left_blog {
  width: 70%;
}

.she_card_blog {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.she_card_blog img {
  width: 100%;
  height: 300px;
}

.she_right_blog {
  width: 28%;
}

.blog_img {
  width: 100%;
  display: flex;
}

.blog_img img {
  width: 100%;
}

.blog_card_ctn {
  width: 100%;
  margin: auto;
  padding: 20px;
}

.blog_date {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.blog_date span {
  margin-right: 10px;
}

.blog_card_ctn h4 {
  color: #3E54AC;
  font-size: 16px;
  margin-bottom: 10px;
}


.blog_card_ctn p {
  margin-bottom: 10px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

.blog_card_ctn button {
  padding: 8px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #3E54AC;
  border-radius: 50px;
  outline: none;
  border: 1px solid #3E54AC;
  cursor: pointer;
  color: #fff;
  margin-top: 20px;
  font-weight: 600;
}

/* Blog Section End */

@media only screen and (min-device-width: 300px) and (max-device-width: 576px) {
  .she_home_banner {
    width: 100%;
    padding: 0px;
  }

  .she_banner_home1 {
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .she_banner_home2 {
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .she_banner_home3 {
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .she_slider {
    display: none !important;
  }

  .she_slider2 {
    width: 100%;
    display: block !important;
  }

  .she_doctor_main {
    width: 100%;
  }

  .she_doctor_list_img {
    width: 30%;
    border: 2px solid var(--primary-color);
  }

  .she_home_supplyProduct {
    width: 100%;
    flex-direction: column;
  }

  .she_home_supplyProduct a {
    width: 100%;
    margin-bottom: 30px;
  }

  .she_ftr_suply h4 {
    font-size: 18px;
  }

  .she_most_main {
    width: 100%;
    flex-direction: column;
  }

  .she_most_left {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }


  .she_most_right {
    width: 100%;
  }

  .she_about_banner {
    width: 100%;
    padding: 40px 0px;
  }

  .she_about_header {
    padding: 40px 0px;
  }

  .she_wwd {
    width: 100%;
    flex-direction: column;
  }

  .she_left_wwd {
    width: 100%;
    margin-bottom: 20px;
  }

  .she_left_wwd img {
    width: 100%;
  }

  .she_right_wwd {
    width: 100%;
  }

  .she_right_wwd h1 {
    font-size: 24px;
    text-align: center;
  }

  .she_right_wwd h4 {
    font-size: 16px;
    text-align: center;
  }

  .she_right_wwd p {
    font-size: 14px;
  }

  .she_right_wwd button {
    display: block;
    margin: auto;
  }

  .she_wwd_head {
    font-size: 28px;
  }

  .seh_wwd_subheade {
    font-size: 14px;
  }

  .she_wwd_help {
    width: 100%;
    flex-direction: column;
  }

  .she_wwd_card {
    width: 100%;
    margin-bottom: 20px;
  }

  .she_wwd_card img {
    width: 100%;
  }

  .she_card_centents {
    width: 100%;
  }

  .she_card_centents h4 {
    font-size: 18px;
  }

  .she_card_centents ul li {
    font-style: 14px;
  }

  .happy_clients_number {
    width: 100%;
    flex-direction: column;
  }

  .she_number_box {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .she_number_box h1 {
    font-size: 36px;
  }

  .she_number_box h4 {
    font-size: 16px;
  }

  .she_blog_main {
    width: 100%;
    flex-direction: column;
  }

  .she_left_blog {
    width: 100%;
  }

  .she_right_blog {
    width: 100%;
  }

  .she_card_blog img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-device-width: 577px) and (max-device-width: 800px) {
  .she_home_banner {
    width: 100%;
  }

  .she_banner_home1 {
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .she_banner_home2 {
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .she_banner_home3 {
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-device-width: 801px) and (max-device-width: 1000px) {
  .she_home_banner {
    width: 100%;
  }

  .she_banner_home1 {
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .she_banner_home2 {
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .she_banner_home3 {
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-device-width: 1001px) and (max-device-width: 1200px) {}

@media only screen and (min-device-width: 1201px) and (max-device-width: 1500px) {}