.she_home_horizental_line2 {
    background-color: var(--primary-color);
    width: 100px;
    height: 5px;
    border: none;
    margin: auto;
    margin-top: 5px;
}

.she_latest_product {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.she_latest_item {
    width: 23%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.she_latest_item img {
    width: 100%;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 576px) {
    .she_latest_product {
        width: 100%;
        flex-direction: column;
    }

    .she_latest_item {
        width: 100%;
        margin-bottom: 20px;
    }

    .she_latest_item img {
        width: 100%;
    }
}

@media only screen and (min-device-width: 577px) and (max-device-width: 800px) {}

@media only screen and (min-device-width: 801px) and (max-device-width: 1000px) {}

@media only screen and (min-device-width: 1001px) and (max-device-width: 1200px) {}

@media only screen and (min-device-width: 1201px) and (max-device-width: 1500px) {}